[user]
	name = jaehakcho
	email = whwogkra@naver.com
[core]
	editor = vim
	excludesfile = ~/.gitexclude
	autocrlf = input
[color]
	ui = auto
[push]
	default = simple
[credential]
	helper = cache --timeout=3600
[credential "https://github.com"]
	username = jaehakcho
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
